


/*
background-color: rgba(0, 0, 0, 0.8 );

@media(max-width:1200px) {
    .box {
        width: 1000px;
       
    }
}

@media(max-width:1024px){
   .box{
        width:700px ;
    }
}

@media(max-width: 768px){
    .box {
        width: 400px;
    }
}

@media(max-width:425px){
    .box{
        width: 320px;
    }
}
fieldset {
    border: 3px solid rgb(255, 64, 30);

}*/
* {

}
@media(max-width:1200px) {
    .box {
        width: 1000px;
       
    }
}

@media(max-width:1024px){
   .box{
        width:700px ;
    }
}

@media(max-width: 768px){
    .box {
        width: 400px;
    }
}

@media(max-width:425px){
    .box{
        width: 320px;
    }
}

body {
    max-width: 1200px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: rgb(61, 73, 139);
    }

.box {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    
    padding: 15px;
    border-radius: 15px;
    width: 25%;
}

fieldset {
    border: 3px solid rgb(255, 64, 30);
    max-width: 1200px;
}

legend {
    border: 1px solid rgb(255, 64, 30);
    padding: 10px;
    text-align: center;
    background-color: rgb(255, 64, 30);
    border-radius: 8px;
}

.inputBox {
    position: relative;
}
.inputUser {
    background: none;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    color: black;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.labelInput {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 14px;
    color: red;
}

#submit {
    background-image: linear-gradient(to right, rgb(156, 56, 56), rgb(163, 163, 62));
    width: 100%;
    border: none;
    padding: 15px;
    color: black;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
#submit:hover {
    background-image: linear-gradient(to right, rgb(180, 36, 36), rgb(139, 139, 12));
}

