* {
    margin: 0px;
    padding: 0px;
    
}

h1 {
    background-image: url(imagens/WhatsApp\ Image\ 2023-07-26\ at\ 10.57.36.jpeg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10vw
}




