@charset
* {
    font-family: 'Courier New', Courier, monospace;
}
body{
    background-color: black;
}
h1{
    text-align: center;
    color: white;

}
img source{
    text-align: center;
}
a{
    color: white;
}